extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  include components/store/catalog-store
  include components/store/product-store
  - var item = product_items[0]
  section.breadcrumbs.product-breadcrumbs
    .container.breadcrumbs__container
      include components/breadcrumbs
      +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны', item.model])

  section.product
    .container.product__container
      picture.product__picture
        img.product__img(src= item.img alt="Фото товара")

      ul.list-reset.product__items
        each image in item.small_imgs
          li.product__item
            a.link
              img.product__item-img(src= image alt="Фото товара")

      .product__card.card
        a.link.card__rating.product__card-rating(href="#")
          svg(width="16" height="15")
            use(xlink:href='img/sprite.svg#star')
          span= item.rating
        h2.title.product__card-title
          span !{item.name + "&ldquo;" + item.model + "&rdquo;"}
          span !{item.name_descr}
        p.product__card-price
          span !{item.price}
        button.btn-reset.btn.product__card-btn#productBuyOneClick Купить в один клик
        button.btn-reset.product__card-btn-outline + Добавить в корзину

        include components/modal-window
        +modal-window("product__card-dialog", "productCardDialog")
          block

            form.form.dialog__form(method="dialog")
              h.title.dialog__form-title Купить в один клик
              p.descr.dialog__form-descr Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.

              label.form__input-label.dialog__form-label(for="name")
                span.visually-hidden Поле Введите имя
                input.form__input#name(name="name" type="text" placeholder="Как вас зовут?" required)

              label.form__input-label.dialog__form-label(for="phone")
                span.visually-hidden Поле Введите номер телефона
                input.form__input#phone(name="phone" type="tel" placeholder="Ваш телефон" required)

              button.btn-reset.btn.form__btn(id="submitBtn" aria-label="Кнопка отправить форму" value="default") Отправить
              button.btn-reset.form__btn.form__btn-cancel(aria-label="Кнопка отменить" value="cancel")
                svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M2.3812 0.397739L11.2581 9.03977C11.8029 9.57009 11.8029 10.4299 11.2581 10.9602L2.3812 19.6023C1.83647 20.1326 0.953281 20.1326 0.408549 19.6023C-0.136183 19.0719 -0.136183 18.2121 0.408549 17.6818L8.29914 10L0.40855 2.31819C-0.136182 1.78787 -0.136181 0.928057 0.408551 0.397739C0.953283 -0.13258 1.83647 -0.13258 2.3812 0.397739Z" fill="#999999")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M17.6188 0.397739L8.74188 9.03977C8.19715 9.57009 8.19715 10.4299 8.74188 10.9602L17.6188 19.6023C18.1635 20.1326 19.0467 20.1326 19.5914 19.6023C20.1362 19.0719 20.1362 18.2121 19.5914 17.6818L11.7009 10L19.5914 2.31819C20.1362 1.78787 20.1362 0.928057 19.5914 0.397739C19.0467 -0.13258 18.1635 -0.13258 17.6188 0.397739Z" fill="#999999")

              .form__checkbox.dialog__form-checkbox
                label.form__checkbox-input-label.dialog__form-label(for="agree")
                  input.form__checkbox-input.form__checkbox-input--hide#agree(name="agree" type="checkbox" required)
                  span.checkbox-icon Принимаю
                a.link(href="#") пользовательское соглашение

      ul.list-reset.product__schemes
        each scheme in item.schemes
          a.link.product__schemes-item
            img.product__scheme-img(src= scheme alt="Схема товара")

      article.product__article
        h3.title.product__article-title !{item.descr_title}
        p.descr.product__article-descr
          each descrLine in item.descr
            span !{descrLine}

      ul.list-reset.product__attributes
        each attribute in item.attributes
          li.product__attributes-item
            span.product__attributes-item-name !{attribute.name}
            span.product__attributes-item-value !{attribute.value}

  section.like-products#like-products
    .container.like-products__container
      h2.title.like-products__title Похожие товары
      .like-products__slider
        include components/swiper-navigation
        +swiper-navigation("like-products__navigation")
        .swiper-wrapper
          include components/card
          each item, index in product_list
            +card("div", item, "like-products__item swiper-slide order" + (item.productOrder ? item.productOrder : "10"))
