extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  include components/store/catalog-store
  include components/store/product-store
  - var item = product_items[0]
  section.breadcrumbs.product-breadcrumbs
    .container.breadcrumbs__container
      include components/breadcrumbs
      +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны', item.model])

  section.product
    .container.product__container
      picture.product__picture
        img.product__img(src= item.img alt="Фото товара")

      ul.list-reset.product__items
        each image in item.small_imgs
          li.product__item
            a.link
              img.product__item-img(src= image alt="Фото товара")

      .product__card.card
        a.link.card__rating.product__card-rating(href="#")
          svg(width="16" height="15")
            use(xlink:href='img/sprite.svg#star')
          span= item.rating
        h2.title.product__card-title
          span !{item.name + "&ldquo;" + item.model + "&rdquo;"}
          span !{item.name_descr}
        p.product__card-price
          span !{item.price}
        button.btn-reset.btn.product__card-btn Купить в один клик
        button.btn-reset.product__card-btn-outline + Добавить в корзину

      ul.list-reset.product__schemes
        each scheme in item.schemes
          a.link.product__schemes-item
            img.product__scheme-img(src= scheme alt="Схема товара")

      article.product__article
        h3.title.product__article-title !{item.descr_title}
        p.descr.product__article-descr
          each descrLine in item.descr
            span !{descrLine}

      ul.list-reset.product__attributes
        each attribute in item.attributes
          li.product__attributes-item
            span !{attribute.name}
            span !{attribute.value}

  section.like-products#like-products
    .container.like-products__container
      h2.title.like-products__title Похожие товары
      .like-products__slider
        include components/swiper-navigation
        +swiper-navigation("like-products__navigation")
        .swiper-wrapper
          include components/card
          each item, index in product_list
            +card("div", item, "like-products__item swiper-slide order" + (item.productOrder ? item.productOrder : "10"))
