extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  include components/store/catalog-store
  include components/store/product-store
  - var item = product_items[0]
  section.breadcrumbs.product-breadcrumbs
    .container.breadcrumbs__container
      include components/breadcrumbs
      +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны', item.model])

  section.product
    include components/modal-window
    +modal-window("product__modal-dialog", "productDialog")

      form.form.dialog-form(method="dialog")
        h3.title.dialog-form__title Купить в один клик
        p.descr.dialog-form__descr Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.

        label.form__input-label.dialog-form__label(for="name")
          span.visually-hidden Поле Введите имя
          input.form__input#name(name="name" type="text" placeholder="Как вас зовут?" required)

        label.form__input-label.dialog-form__label(for="phone")
          span.visually-hidden Поле Введите номер телефона
          input.form__input#phone(name="phone" type="tel" placeholder="Ваш телефон" required)

        button.btn-reset.btn.form__btn(id="submitBtn" aria-label="Кнопка отправить форму" value="default") Отправить

        .form__checkbox.dialog-form__checkbox
          label.form__checkbox-input-label.dialog-form__label.dialog-form__label--last(for="agree")
            input.form__checkbox-input.form__checkbox-input--hide#agree(name="agree" type="checkbox" required)
            span.checkbox-icon Принимаю
          a.link(href="#") пользовательское соглашение

    +modal-window("product__modal-accept", "productAccept")
      picture.modal-window__picture
        svg.modal-window__picture-svg(width="172" height="117")
          use(xlink:href='img/sprite.svg#elephant')
      p.descr.modal-window__descr Спасибо, мы вам перезвоним!

    +modal-window("product__modal-images", "productModalImages", "container")
      picture.modal-window__picture
        img.modal-window__picture-img(src= item.img alt="Фото товара")

      .product__items.modal-window__items
        include components/swiper-navigation
        +swiper-navigation("modal-window__items-navigation")
        .swiper-wrapper
          each image, index in item.small_imgs
            .product__item.swiper-slide
              img.product__item-img(src= image alt="Маленькое фото товара " + index)

    .container.product__container
      picture.product__picture
        img.product__img(src= item.img alt="Фото товара")

      ul.list-reset.product__items
        each image in item.small_imgs
          li.product__item
            a.link.product__item-link
              img.product__item-img(src= image alt="Маленькое фото товара")

      .product__card.card
        a.link.card__rating.product__card-rating(href="#")
          svg(width="16" height="15")
            use(xlink:href='img/sprite.svg#star')
          span= item.rating
        h2.title.product__card-title
          span !{item.name + "&ldquo;" + item.model + "&rdquo;"}
          span !{item.name_descr}
        p.product__card-price
          span !{item.price}
        button.btn-reset.btn.product__card-btn#productBuyOneClick Купить в один клик
        button.btn-reset.product__card-btn-outline + Добавить в корзину

      ul.list-reset.product__schemes
        each scheme in item.schemes
          a.link.product__schemes-item
            picture.product__schemes-picture
              source(srcset=scheme + "-320.webp" media="(max-width: 425px)")
              img.product__scheme-img(src= scheme + ".webp" alt="Схема товара")

      article.product__article
        h3.title.product__article-title !{item.descr_title}
        p.descr.product__article-descr
          each descrLine in item.descr
            span !{descrLine}

      ul.list-reset.product__attributes
        each attribute in item.attributes
          li.product__attributes-item
            span.product__attributes-item-name !{attribute.name}
            span.product__attributes-item-value !{attribute.value}

  section.like-products#like-products
    .container.like-products__container
      h2.title.like-products__title Похожие товары
      .like-products__slider
        +swiper-navigation("like-products__navigation")
        .swiper-wrapper
          include components/card
          each item, index in product_list
            +card("div", item, "like-products__item swiper-slide order" + (item.productOrder ? item.productOrder : "10"))
